*:focus{
    box-shadow: #f7f4eb 0px 0px 0px 0px, #fec200 0px 0px 0px 3px inset, #242121 0px 0px 0px 2px;
}

html{
    border: none;
}

body {
    background-color: #f7f4eb;
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    padding: 1rem;
}

h1 {
    font-size: 1.2rem;
    border-bottom: 2px solid #242121;
    padding-bottom: 0.3rem;
    margin-top: 0;
}

.input-group {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.colorInput{
    width: 50%;
    border: 2px solid #242121;
}

label {
    font-weight: 600;
    flex-grow: 1;
    margin-bottom: 0.2rem;
}

input{
    background-color: #f7f4eb;
    border: 2px solid #242121;
}

/* Estilos específicos para entradas de color */
.color-input input[type="text"] {
    width: 100%;
    text-align: center;
    border: 2px solid #242121;
    padding: 5px;
    margin-right: 5px;
    font-size: 1.1rem;
}

.color-input input[type="color"] {
    height: auto;
    padding: 2px;
    border: 2px solid #242121;
    cursor: pointer;
    margin-right: 5px;
}

/* Área de resultados */
#result-box {
    text-align: center;
    padding: 1.2rem;
    border: 2px solid #242121;
    background-color: #f7f4eb;
}

.preview-text {
    font-size: 1.2rem;
    font-weight: 600;
    padding: 0.5rem;
    margin-bottom: 0.8rem;
    border: 2px solid #242121;
}

#lcValue {
    font-size: 1.7rem;
    font-weight: 700;
    margin: 7px 0;
    color: #242121;
}

#calculateBtn {
    display: flex;
    background-color: #242121;
    border: 2px solid #242121;
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    font-weight: 300;
    color: #f7f4eb;
    width: 100%;
    justify-content: center;
    padding: 0.4rem;
    cursor: pointer;
    margin-bottom: 1rem;
}

#calculateBtn:hover {
    background-color: #f7f4eb;
    border: 2px solid #242121;
    color: #242121;
}

/* Estilo para el botón del cuentagotas */
.eyedropper-btn {
    background-color: #f7f4eb;
    border: 2px solid #242121;
    padding: 5px 10px;
    font-size: 1.2em;
    cursor: pointer;
    line-height: 1;
    transition: all 0.2s;
}

/* Estilo para enlaces */
a{
    color:#242121;
}

a:hover{
    color: #242121;
    text-decoration: none;
}

a:visited{
    color: #242121;
    text-decoration: none;
}

.format{
    display: flex;
    flex-direction: row;
}

.container{
    display: flex;
    margin-top: 0.8rem;
}

svg{
    width: 100%;
    max-width: 2.8rem;
    height: auto;
}

.section_btn_invert{   
    display:flex;
    justify-content: center;
}

#swapColorsBtn{
    background-color: #f7f4eb;
    border: 0px solid transparent;
    cursor: pointer;
    line-height: 1;
}

#fontSizeTable{
    display: none;
    margin-top: 15px;
}

.list_style{
    margin: 0 0 8px 0; 
    font-size: 20px;
}

.list_style_ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    font-size:1.1rem;
    justify-content: center;
}
