body {
    background-color: #f7f4eb;
    display: flex;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem 2rem;
    width:65%;
}

h1 {border-bottom: 3px #242121 solid;
    color: #242121;;
    margin-top: 0.9rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
}

h2 {border-bottom: 2px #242121 solid;
    color: #242121;
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    font-weight: 500;
    margin-top: 2rem;
   }

ul {
    margin-top: 0.1rem;
    padding: 0.6rem 1rem 0.6rem 2rem;
}

li {
    margin-bottom: 0.5rem;
}

img{
    width: 35%;
}

.box_link{
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    align-items: center;
    border: 3px solid #242121;
    padding: 2rem;
    text-align: center;
}

a{
    color: #242121;
}

a:hover{
    color: #242121;
    text-decoration: none;
}

a:visited{
    color: #242121;
    text-decoration: none;
}

a:focus{
    box-shadow: #ffffff 0px 0px 0px 0px, #f8ff7c 0px 0px 0px 3px inset, #1f2331 0px 0px 0px 2px;
}

.btn_link{
    display: inline-block;
    border: 2px solid #242121;
    background-color: #242121;
    color: #f7f4eb;
    width: 40%;
    text-align: center;
    padding: 0.5rem 2.2rem 0.8rem 2.2rem;    
}

.btn_link:hover{
    border: 2px solid #242121;
    background-color: #f7f4eb;
    color: #242121;
    text-decoration: underline;
}

.desplegable{
    font-size: 1.3rem;
    border: 2px solid #242121;
    padding: 0.6rem;
    margin-bottom: 1rem;
}


.desplegable summary {
  position: relative;
  cursor: pointer;
  list-style: none;
}

.desplegable .icono {
  display: inline-block;
  width: 1em;
  text-align: center;
  margin-right: 0.5em;
  font-weight: bold;
  transition: transform 0.2s ease;
}

/* Icono ▾ cerrado */
.desplegable summary .icono::before {
  content: "▾";
}

/* Icono X cuando está abierto */
.desplegable[open] summary .icono::before {
  content: "✖";
}

details summary:focus{
    box-shadow: #ffffff 0px 0px 0px 0px, #f8ff7c 0px 0px 0px 3px inset, #1f2331 0px 0px 0px 2px;
}

.sr-only {
  position: absolute !important;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

@media (max-width: 768px) {
    body {
    width:80%;
    }

    .box_link{
    text-align: center;
    padding: 0.5rem;
    }

    img{
        width: 80%;
    }
}



