body {
    display: flex;
    flex-direction: column;
    font-family: "Segoe UI", Tahoma, sans-serif;
    font-size: 1rem;
    padding: 1rem 2rem;
}

h1 {border-bottom: rgb(92, 20, 125) solid;
    color: rgb(92, 20, 125);
    font-size: 1.5rem;
    margin-top: -0.5rem;
}

h2 {border-bottom: rgb(65 21 196) solid;
    color: rgb(65 21 196);
    font-size: 1.2rem;
   }

ul {border-bottom: rgb(92, 20, 125) solid;
    margin-top: 0.1rem;
    padding:0.6rem;
    witdh:75%;
}

li {
    margin-bottom: 0.5rem;
}

a{
    color: rgb(92, 20, 125);
}

a:hover{
    color: rgb(92, 20, 125);
    text-decoration: none;
}

a:visited{
    color: rgb(92, 20, 125);
    text-decoration: none;
}

a:focus{
    box-shadow: #ffffff 0px 0px 0px 0px, #f8ff7c 0px 0px 0px 3px inset, #1f2331 0px 0px 0px 2px;
}

